name: build

on: [push, pull_request]

jobs:
  linux_builds:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        cxx: [g++, clang++]
    env:
      CXX: ${{ matrix.cxx }}
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Build
      run: |
        make

  windows_build:
    runs-on: windows-latest

    env:
      SOLUTION_FILE_PATH: .
      BUILD_CONFIGURATION: Release

    steps:
    - uses: actions/checkout@v3

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.1

    - name: Build vhlt Windows tools
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: msbuild /m /p:Configuration=${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_FILE_PATH}}

    - name: Archive vhlt Windows tools
      uses: actions/upload-artifact@v3
      with:
        name: vhlt-windows-tools
        path: D:\a\vhlt\bin\*
